.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  


#topBarSearch{
  
}

.closeIcon{
margin-left: 110px;
}
  

 
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
.logout{
  position: absolute;
  top: 50px;
  /* right:50px; */
  background-color: #fff;
  border: 1px solid black;
  width: 88px;
  height: 70px;
  padding: 2px;
border-radius: 4px;

}
.logout a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.more{
  padding: 5px;
  display: none;
}
.personIcon{
  display: none;
}  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  
  @media screen and (max-width:1023px) {
    #topBarSearch{
      display: none;

    }
    .personIcon{
      display: block;
    }
    .more{
display: block;
    }
    
  }
