.rightbar {
    flex: 3.5;
  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;

  }




  
  .rightbarTitle{
      margin-bottom: 20px;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: rgb(0, 51, 255);
  }
  
  .rightbarInfoValue{
    font-weight: 300;
    margin-left: 5px;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }


  .userInfo{
    display: flex;
    align-items: start;

  }
  .userInfo .icon {
    margin: 0 10px;
  }

  @media screen and (max-width: 1023px) {
.rightbar{
  /* display: none; */
  position: absolute;
  top: 50px;
  right: -1000px;
  top: 0;
  background-color: white;
  transition: all;
transition-duration: 600ms;
}
    }
    .rbSlide{
  top: 50px;
      
right: 0;
  z-index: 10;
transition: all;
transition-duration: 600ms;
padding: 10px;
    }